body {
    margin: 0 !important;
    padding: 0 !important;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container button {
    font-size: 4vw;
    padding: .5vw 3vw;
    border: 1px solid black;
}